.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  gap: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.7rem;
  background-color: var(--clr-Very-Light-Gray);
}

.filters__item_left {
  color: var(--clr-Dark-Grayish-Blue);
  font-size: 12px;
}

.filters__container {
  display: flex;
}

.filter__button {
  font-size: 12px;
  font-weight: 700;

  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  transition: 0.25s ease-in-out;
}
.filter__button:hover {
  color: var(--clr-Very-Dark-Grayish-Blue);
}
.filter__button:focus,
.filter__button:focus-visible {
  color: var(--clr-Very-Dark-Grayish-Blue);
}

/* VER!! */
.text {
  color: var(--clr-Dark-Grayish-Blue);
}
.text-active {
  color: var(--clr-Bright-Blue);
}


.clear__container{
}

.clear__button {
  font-size: 12px;
  color: var(--clr-Dark-Grayish-Blue);

  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  transition: 0.25s ease-in-out;
}
.clear__button:hover {
  color: var(--clr-Very-Dark-Grayish-Blue);
}
.clear__button:focus,
.clear__button:focus-visible {
  color: var(--clr-Very-Dark-Grayish-Blue);
}

/* MediaQuery */
@media (max-width: 376px) {
  .footer__container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    grid-template-areas:
      "item1 item2"

      "item3 item3";
      gap: 2rem;
  }

  .item_left__container{
    grid-area: item1;

  }
  .clear__container{
    grid-area: item2;
    display: flex;
    justify-content: end;
  }

  .filters__container{
    grid-area: item3;    
    display: flex;
    justify-content: center;
  }


}
